body {
    width: 800px;
    height: auto;
    margin: 0px auto;
    background-color: #202124;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 200px;
    height: 20px;
    margin: 15px auto 15px auto;
}

input {
    width: 200px;
    height: 20px;
}

hr {
    margin-right: 10px;
    border-style: none;
    border-top: 2px dashed;
}

span {
    color: #9caba3;
}

a {
    background-color:  #202124;
    color: #9caba3;
    text-decoration: none;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
}

a:hover {
    color: white;
}

#search {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: 20px auto;
}

#search img {
    width: 50px;
    height: 50px;
    border-radius: 25px;

}

#search p {
    font-size: xx-large;
    font-weight: bold;
    margin: 5px 0px 5px 20px;
}

#card {
    width: inherit;
    background-color: #35363a;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    animation-name: coming-down;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#cardLeft {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#cardRight {
    margin: 10px;
    margin-right: 20px;
}

#cardRightTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px;
}

#userLogin {
    width: 200px;
    margin: 20px auto;
    margin-top: 0px;
    text-align: center;
}

#userName {
    font-size: x-large;
    font-weight: bold;
    max-width: 260px;
    margin-bottom: 5px;
}

#follow {
    margin: 30px 10px 5px 0px;
}

#repos {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

@keyframes coming-down {
    from {
        position: relative;
        top: -20px;
        opacity: 0.2;
    }
    to {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}